:root{
    --footer_height: calc(8px * 6);
    --background-black: #212529;
}

main{
    max-height: calc(100% - var(--footer_height))!important;
    overflow-y: auto;
}


nav{
    margin-bottom: 16px;
}
main{
    padding-left: 8px;
    padding-right: 8px;
}
video{
    width: 100%;
    height: 500px;
}


footer{
    padding: 8px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--footer_height);
    background-color: var(--background-black);
    color: blanchedalmond;
    letter-spacing: 2px;
}

footer a:link{
    text-decoration: none;
    color: rgb(125, 122, 163);
    font-weight: 600;
}